<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="./css/stylesheet.css" />
</head>
<body>
    <h1>Welcome Page</h1>
    <h2>Welcome to my website, I invite you to click the link below and take my survey!</h2>
    <h3>This survey is targeted for college seniors who are planning on graduating in the next couple of weeks. I would love your feedback on your college experience!</h3>
    <p><a href="./survey-page1.html">Take the survey</a></p>
    <p>
    <button onclick="window.location.href='./survey-page1.html'"></button>
            Take the survey
    </p>
</body>
</html>