<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Page 1</title>
    <link rel="stylesheet" href="./css/stylesheet.css" />
</head>
<body>
    <h1>Survey About Your College Experience</h1>
    
    <form>
        <fieldset>
            <legend> Contact Information</legend>
            <div>
            <label for="fname"> First Name:
                <input id="fname" type="text" autofocus tabindex="1" >
            </label>
        </div>
            <label for="lname"> Last Name:
                <input id="lname" type="text" tabindex="2" >
            </label>
            <div>
            <label for="email"> Email Address:
                <input id="email" type="email" tabindex="3" >
            </label>
            <div>
            <label for="hometown"> Hometown:
                <input id="hometown" type="hometown" tabindex="3" >
            <div>
                <label for="major"> College Major:
                    <input id="major" type="major" tabindex="3" >
        </div>

        <div>
            <label for="female"> What is your gender?
                <input type="radio" id="female" name="gender" value="female"> Female 
            </label>
            
            <label for="male">
                <input type="radio" id="male" name="gender" value="male"> Male
            </label>
            
            <label for="non-binary">
            <input type="radio" id="non-binary" name="gender" value="non-binary">Non-binary
            </label> 
            <div>
            <label for="age">Choose an age:
    
                <select name="age" id="age">
                    <option value="20 and below">20 and below</option>
                    <option value="21-40">21-40</option>
                    <option value="41-60">41-60</option>
                    <option value="61 and up">61 and up</option>
                </select>
                </label>
            </div>
        </div>
        </fieldset>
        <div>
            <fieldset>
                <legend> On a scale of 1-5, how would you rate your college experience? (1 being low, 5 high) </legend>
                  <label for="1">
                    <input type="radio" id="1" name="rating" value ="1"> 1
                  </label>    
              
                  <label for="2">
                    <input type="radio" id="2" name="rating" value="2"> 2
                  </label>
              
                  <label for="3">
                    <input type="radio" id="3" name="rating" value="3"> 3
                  </label>

                  <label for="4">
                    <input type="radio" id="4" name="rating" value="4"> 4
                  </label>
                  
                  <label for="5">
                    <input type="radio" id="5" name="rating" value="5"> 5
                  </label> 
                
              </fieldset>

            <label for="explanation"> Explanation:
                <input id="explanation" type="text" tabindex="2" >
            </label>
        </div>


    </form>
    
    <button onclick="window.location.href='./survey-page2.html'"></button>
            Next Page
    <p>Page 1 of 2</p>
</body>
</html>